@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=League+Spartan:wght@100;200;300;400;500;600;700;800&family=Peralta&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}
/* global style */
h1{
    color: #222;
    font-size: 50px;
    line-height: 64px;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    color: #222;
    font-size: 20px;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{f
    font-size: 16px;
    color: #7d7d89;
    margin: 0 0 20px ;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color:#000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s ease;
    border: none;
    outline: none;
}
button.white {
    font-size: 13px;
    font-weight:600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    outline: none;
    border:1px solid #fff; 
    cursor: pointer;
    transition: 0.2s ;
}
body{
    width: 100%;
}

/* upper nav par */
nav .logo{
    width: 16%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px ; 
    background-color: #E3E6F3;
    box-shadow: 0px 5px  15px rgba(0, 0, 0, 0.08) ;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
li{
    list-style: none;
    padding: 0 20PX ;
    position: relative;
}
#navbar a {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 600px;
    transition: 0.3s ease;
}
#navbar a:hover{
    color:#088179;   
}
#navbar span,#mobile span{
  /* border: 1px solid transparent ; */
  border-radius: 50%;
  background-color: rgb(255, 62, 62);
  text-align: center;
  padding: .5px 5px;
  color: rgb(212, 205, 205);
  position: absolute;
  top: -3px;
  left: 13px;
  font-size: 10px;
}

a.active::after ,li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088179;
    position : absolute;
    bottom: -4px;
    left: 20px ;
}
#close{
    display: none;
}
#mobile{
  display: none;
  position: relative;
}
#mobile svg{
  color: #1a1a1a ;  
  font-size: 25px;
  padding-left: 20px;
  cursor: pointer;
}

/* home page */

/* front */
#front{
    background-image: url("img/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0 ;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
}
#front h3{
    padding-bottom:15px ;
}
#front h1{
    color: #088178;
}
#front button{
    background-color: transparent;
    background-image: url("img/button.png");
    background-repeat: no-repeat;
    border: none;
    padding: 14px 80px 14px 65px;
    color: #088178;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

/* features */
#features .fe-box{
    width: 180px;
    border: 1px solid #cce7d0;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.04) ;
    border-radius: 4px;
    margin: 15px 0;
}
#features .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70,62,222,0.1) ;
}
.fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
.fe-box h6{
    border-radius: 4px;
    padding: 9px 8px 6px;
    line-height: 1;
    color: #088178;
    background-color: #fddde4;
    display: inline-block;
}
.fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}
.fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}
.fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}
.fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
.fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}
/* end feature */

/* product section */
.product1 .pro {
    border: 1px solid #cce7d0;
    width: 23%;
    min-width: 260px;
    padding:10px 12px; 
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02) ;
    border-radius: 25px;
    margin: 15px 0 ;
    transition: 0.2s ease;
    position: relative;
}

.product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06) ;
}

.product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

.product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
.product1 .pro .des span{
    color:#606063;
    font-size: 12px;
}
.product1 .pro .des h5{
    padding-top: 7px;
    font-size: 14px;
    color: #1a1a1a;
}
.product1 .pro .des .star{
    color: #ffe600;
    font-size: 12px;
}
.product1 .pro .des h4{
    padding-top: 7px;
    color: #088178;
    font-size: 15px;
    font-weight: 700;
    opacity: 0.9;
}

.product1 .pro .cart{
    color: #088178;
    background-color: #e8f1f1;
    width: 20px;
    padding: 9px;
    height:20px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px ;
    right: 10px;
    transition: 0.2s ease;
}
.product1 .pro .cart:hover{
    color:#e8f1f1 ;
    background-color:#088178 ;
}
.product1 .pro a:hover::after{
    content: "Add to Cart";
    width: 50%;
    background: #c6c6c6;
    color: #000;
    position : absolute;
    bottom:15px;
    right: 50px;
    border-radius: 10px;

}

/* banner section */
#banner{
    width:100%;
    height: 40vh;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    text-align: center;
    background-image: url('img/banner/b2.jpg');
    background-position: center;
    background-size: cover;
    
}
#banner h4{
    color: #fff;
    font-size: 20px;
}
#banner h2 {
    color: #fff;
    font-size: 40px;
    padding: 10px 0;
}
#banner h2 span{
    color: #ef3636 ;
}
#banner .normal:hover{
    color: #fff;
    background-color: #088178;
}

/* mediem banners */
#sm-banner .banner-box{
    width:48%;
    height: 46vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  
    padding: 30px;
    background-image: url('img/banner/b17.jpg');
    background-position: center;
    background-size: cover;
}   
#sm-banner .banner-box2{
    background-image: url('img/banner/b10.jpg');
}
#sm-banner h4{
    color: #fff;
    opacity: 0.95;
    font-size: 20px;
    font-weight: 300;
    
}
#sm-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}
#sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
#sm-banner .banner-box:hover button{ 
    background-color: #088178;
    border: 1px solid #088178;
}

/* baby banners */
#banner3 .banner-box{
    min-width:30%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  
    padding: 30px;
    background-image: url('img/banner/b7.jpg');
    background-position: center;
    background-size: cover;
    margin-bottom:20px
}   
#banner3 h2{
    color:#fff; 
    font-weight: 900;
    font-size: 22px;
}
#banner3 h3{
    color:#ec544e; 
    font-weight: 8 00;
    font-size: 17px;
}
#banner3 .banner-box2{
    background-image: url('img/banner/b4.jpg');
}
#banner3 .banner-box3{
    background-image: url('img/banner/b18.jpg ');
}

/*start newsletters section  */
#newslatter {
    background-image: url("img/banner/b14.png");
    background-size: cover;
    background-position:20% 30% ;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #041e42;
    margin-top: 4rem;
}
#newslatter .newstext h4{
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    padding-bottom: 15px;
}
#newslatter .newstext p{
    color: #818ea0;
    font-weight: 600;
    font-size: 14px;
}
#newslatter  span{
    color: #ffbd27;
}
#newslatter .form{
    display: flex;
    width: 40%;
}
#newslatter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 100%;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newslatter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/*end newsletters section  */


/*start footer */
footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .colm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .contact{
  width: 32%;
}
footer .logo{
    margin-bottom: 30px;
    width: 30%;
}
footer h4{
    padding-bottom: 20px;
    font-size: 16px;
}
footer div{
    font-size: 13px;
    padding-bottom: 5px;
    color: rgb(112, 111, 111);
}
footer a{
    text-decoration: none;
    font-size: 13px;
    color: rgb(112, 111, 111);
    margin-bottom:10px ; 
}
footer .copyright {
    width : 100%;
    text-align: center;
}
footer .copyright p {
    font-size: 14px;
    color: rgb(112, 111, 111);
}
footer .contact .follow .icon i{ 
    margin-top: 20px ;
}

#follow svg{
    font-size:15px; 
    color: #465b52;
    cursor: pointer;
    padding-right: 4px;
}
footer #follow svg:hover ,footer a:hover{
    color: #309e97;
}
footer .install .row img{
    border: 1px solid #088178;
    border-radius:6px; 
    width: 47%;
    margin:10px 0 15px 4px;
}

footer .install p{
    font-size: 13px;
    color: rgb(112, 111, 111);
    margin: 10px  0;
}
/*end footer */
/* end home page */


/*start shop page  */
.page-banner{
  background-size: cover;
  width: 100% ;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
}

.page-banner p{
    font-size: 25px;
    color:#e3e7eb;
    margin: 15px 0 20px 0;
    letter-spacing: 1px;
}
.page-banner h2{
  font-size: 70px;
    color:white;
    letter-spacing: 2px; 
    padding-bottom: 20px;
  }
  .shop-banner{
    background-image:url("img/banner/b1.jpg") ;   
}
/* paginations */
#paginations{ 
    text-align:center; 
}
#paginations a{
    padding: 15px 20px; 
    text-decoration: none;
    color:  #088178;
    border-radius: 5px;
    font-weight: 600;
}
#paginations .active1{
    background-color:#088178 ;
    color:  #fff;
}
#paginations a:not(.active1):hover{
    background-color:#d8e3e2 ;
    color:  #088178;
    transition: 0.3s;
}
/*end shop page  */



/*start single product  */
.single-pro-image{
    width: 40%;
    margin-right: 50px;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
#proDetails{
    display: flex;
    margin-top: 20px;
}
#proDetails .single-pro-details{
    width:50%;
    padding-top: 30px;
}
#proDetails .single-pro-details h4{
    padding:40px 0 20px 0;
}
#proDetails .single-pro-details h2{
    font-size: 26px;
}
#proDetails .single-pro-details select{
    padding:  5px 10px;
    display: block;
    margin-bottom: 10px;
}
#proDetails .single-pro-details input{
    width: 50px;
    height: 40px;
    padding-left:10px ;
    font-size: 16px;
    margin-right: 10px;
}
#proDetails .single-pro-details button{
    background-color: #088178;
    color: #fff;
}
#proDetails .single-pro-details span{
    line-height: 1.6;
}
/* end singl product */

/* start blog page  */
#blog-banner{
  background-image:url("img/banner/b19.jpg") ;
}
#blog{
    padding: 150px 150px 0 150px;
}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}
#blog .blog-box .blog-img{
    width: 50%;
    margin-right: 40px;
}
#blog img{
    width: 100%;
    height:47vh;
    object-fit: cover;
}
#blog .blog-details{
    width:50%; 
}
#blog .blog-details h4{
    margin-bottom: 20px;
}
#blog .blog-details a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 12px;
    position: relative;
}
#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1.5px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}
#blog .blog-details a:hover{
    color: #088178;
}
#blog .blog-details a:hover::after{
    background-color: #088178;
}
#blog .blog-box h1{
    font-size: 70px;
    font-weight: 700;
    color: #b9bec5;
    position: absolute;
    top: -45px;
    left: 0;
    z-index: -9;
}
/* end blog page  */
/* start about page */
#about-banner{
  background-image: url(img/about/banner.png);
}
.detail, .imaged{
  width: 50%;
}
.detail {
  padding-left: 30px;
}
.detail h1{
  font-size:60px;
}
.detail p{
  font-size:larger;
  line-height: 1.3;
}

#downloadApp .video{
  width: 70%;
  height: 100%;
  margin: 30px auto 0 auto;
}
#downloadApp .video video{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
/* end about page */


/* contact page  */
#contact-details .details{
  width: 37%;
}
#contact-details .details span,#form-details form span{
  font-size: 12px;
}
#contact-details .details h2,#form-details form h2{
  font-size: 27px;
  padding: 20px 0;
  line-height: 35px;
  font-weight: 600;
}
#contact-details .details h3{
  font-size: 17px;
  padding-bottom: 15px;
}
#contact-details .contact li{
  display: flex;
}
#contact-details .contact li p{
  font-size: 14px;
}
#contact-details .contact li svg{
  padding-right: 24px ;
  font-size: 14px;
}
#contact-details .map{
  width: 53%;
  height: 40vh;
}
#contact-details .map iframe{
  width: 100%;
  height: 100%;
}
#form-details{
  border:1px solid #e0dfdb;
  border-radius: 13px;
  padding: 4rem;
}
#form-details form{
width: 65%;
}
#form-details form input,#form-details form textarea{
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}
#form-details form button{
  background-color: #088178;
  color: white;
  font-size:16px ;
}
#people {
  width:27%;
}
#people .people-img img{
  width: 77%;
}

.people-details p{
  margin-bottom: 1px;
}
.people-details h4{
  margin-bottom: 2px;
}

/* cart */
#cart .container table,#addCart .cart-total table {
  width: 100%;
  border-collapse:collapse;
  table-layout: fixed;
  white-space: nowrap;
}
#cart .container table img{
  width: 70px;
}
#cart .container table td:nth-child(1){
  width: 100px;
  text-align: center;
}
#cart .container table td:nth-child(3){
  width: 250px;
  text-align: center;

}
#cart .container table td:nth-child(2),
#cart .container table td:nth-child(4),
#cart .container table td:nth-child(5),
#cart .container table td:nth-child(6){
  width: 150px;
  text-align: center;
}
#cart .container table td input{
  width: 65px;
  padding:5px 10px ;
}
#cart .container table thead{
  border: 1px solid #e1e1e1;
  border-left: none;
  border-right: none;
}
#cart .container table thead td{
  padding: 18px 0;
  font-weight:700;
}
#cart .container table tbody td{
  padding-top: 15px;
  font-size: 14px;
  color:rgb(112, 111, 111);
}
#addCart .coupon,#addCart .cart-total{
  width: 50%;
}
#addCart .coupon div input{
  width:50%;
  padding: 5px 10px;
}
#addCart .cart-total table tr td{
  border: 1px solid #d6d6d6;
  padding: 7px;
  color:rgb(112, 111, 111);
}
#addCart .cart-total {
  border: 1px solid #e1e1e1;
  padding: 30px;
}

#addCart h3{
  margin-bottom: 20px;
}

#addCart button{
  background-color: #088178;
  color: white;
  padding:10px 23px
}

